---
layout: default
---
{% for p in site.chapters %}
  {% if p.group == "chapters" %}
    {% if getnext == true %}
      {% assign next = p %}
      {% break %}
    {% elsif page.id == p.id %}
      {% assign getnext = true %}
    {% else %}
      {% assign previous = p %}
    {% endif %}
  {% endif %}
{% endfor %}

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
</script>


<div class="post">
    <h1>{{page.title}}</h1>
  <article id="{{ page.id }}" class="post-content">
    
    
      {{ content }}
    
    
  </article>

</div>